* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope";
  font-size: 13px;
  background-color: hsl(210, 46%, 95%);
}

.container {
  display: grid;
  grid-template-columns: 25fr 75fr;
  position: relative;
  width: 800px;
  margin: 50px auto;

  box-shadow: 5px 5px 50px hsl(212, 23%, 69%);

  border-radius: 7px;
  /* overflow: hidden; */

  background-color: #fff;
}

.hero-img {
  background-image: url(./images/drawers.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 400px;
  width: 325px;
  height: 320px;
}

.right-box {
  display: flex;
  flex-direction: column;

  margin: 7%;
  position: relative;
}

.heading {
  color: hsl(217, 19%, 35%);
  line-height: 1.3;
}

.text {
  margin: 3% 0;
  color: hsl(214, 17%, 51%);
  line-height: 1.7;
}

.author {
  display: flex;
  align-items: center;

  margin-top: 2%;
  position: absolute;
  top: 80%;
}

.author-img {
  width: 50px;
  border-radius: 50%;
}

.author-name-date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  padding-left: 15px;
}

.date {
  color: hsl(212, 23%, 69%);
}

.share-button {
  position: relative;
  left: 100%;

  background-color: hsl(210, 46%, 95%);

  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  color: hsl(214, 17%, 51%);
  padding-top: 4px;
}

.share-button:hover {
  cursor: pointer;
  background-color: hsl(217, 19%, 35%);
  position: relative;
}

.share-button.active:hover {
  cursor: pointer;
  background-color: hsl(210, 46%, 95%);
}

.share-options {
  position: relative;
  width: 235px;
  top: -400%;
  left: -300%;
  display: flex;

  align-items: center;
  justify-content: center;

  font-size: 15px;
  text-transform: uppercase;
  background-color: hsl(217, 19%, 35%);
  padding: 20px;

  border-radius: 7px;
  z-index: 2;
}

.share {
  letter-spacing: 6px;
}

.share-options:after,
.share-options:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.share-options:after {
  border-top-color: hsl(217, 19%, 35%);
  border-width: 15px;
  margin-left: -10px;
}

.social-icon {
  padding-left: 10px;
  font-size: 18px;
  color: hsl(210, 46%, 95%);
}

/* .share-button.active::before {
  content: "Share";
  background-color: red;
} */

.overlay {
  background-color: hsla(217, 100%, 59%, 0);
  width: 100%;
  height: 90%;
  position: absolute;
  z-index: 1;
}

.hidden {
  display: none;
}

.active {
  padding-top: 7px;
}
